<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Telstar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Telstar.styles.css" asp-append-version="true" />
</head>
<body>
<div class="container" style="background-color: #d63384">
    <header>
        <div class="container d-flex justify-content-between" style="margin: 25px; height: 100px">
            <img src="~/images/telstar.png" />
            <h1>TELSTAR LOGSTICS</h1>
            <a class="nav-link text-dark" href="/Welcome">BACK</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</div>

<style>
    body {background-color: #d63384;} 
</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>