@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Route Results";
}

<div class="container-md ">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <h3>Best</h3>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <h3>Fastest</h3>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <h3>Cheapest</h3>
        </div>
    </div>
</div>

