@model Telstar.Models.SearchRoutesModel

@{
  ViewBag.Title = "test";
}

<!DOCTYPE html>

<html>
<body >

<div>
  <form method="post">
    <fieldset>
      <legend>Add Customer</legend>
      <div>
        <label for="Origin City">Origin City:</label>
        <input type="text" name="OriginCity" value=""/>
      </div>
      <div>
        <label for="Destination">DestinationCity:</label>
        <input type="text" name="DestinationCity" value=""/>
      </div>
      <div>
        <label for="Weight">Weight (lbs):</label>
        <input type="text" name="Weight" value=""/>
      </div>
      <div>
        <label>&nbsp;</label>
        <input type="submit" value="Submit" class="submit"/>
      </div>
    </fieldset>
  </form>

</div>
</body>
</html>