@model Telstar.Models.SearchRoutesModel

@{
    ViewBag.Title = "test";
    
}

<!DOCTYPE html>

<html>

<h2>@(Html.DisplayNameFor(modelItem => modelItem.SearchText))</h2>
<head>
    <title></title>
</head>
<body>
<div>

</div>
</body>
</html>