@model Telstar.Models.SearchRoutesModel

@{
    ViewBag.Title = "test";
}

<!DOCTYPE html>

<html>
<body height: 100%;>

<div class="row">
    <div class="col" style="width: 100px">
        <form method="post">
            <fieldset>
                <legend>Find Parcel Route</legend>
                <div>
                    <label for="Origin City">Origin City:</label>
                    <input type="text" name="OriginCity" value=""/>
                </div>
                <div>
                    <label for="Destination">DestinationCity:</label>
                    <input type="text" name="DestinationCity" value=""/>
                </div>
                <div>
                    <label for="Weight">Weight (lbs):</label>
                    <input type="text" name="Weight" value=""/>
                </div>
                <div class="row" style="padding: 20px">
                    <div class="col" style="margin: 10px">
                        <label for="Weight">Width:</label>
                        <input type="text" name="Width" style="width: 60px"/>
                    </div>
                    <div class="col" style="padding: 10px">
                        <label for="Weight">Height:</label>
                        <input type="text" name="Height" value="" style="width: 60px"/>
                    </div>
                    <div class="col" style="margin: 10px">
                        <label for="Weight">Length:</label>
                        <input type="text" name="Length" style="width: 60px"/>
                    </div>
                </div>
                
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Search" class="submit"/>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col" style="margin: 40px; width: 1400px">
        <img src="~/images/AfricaMap.png"/>
    </div>
</div>

</body>
</html>